@CHARSET "UTF-8";

#main_box {
	display: flex;
	flex-flow: column wrap;
	
	/*background: hsl(228, 100%, 82%);*/
	background: radial-gradient(circle, hsl(228, 100%, 92%), hsl(228, 100%, 72%));
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

#flex_box {
	flex: 3;
	display: flex;
	flex-flow: row wrap;
	margin: 2%;
	margin-top: 5%;
	margin-bottom: 10%;
}

article {
	flex: 1;
	justify-content: center;
	margin: 0.5%;
}

header {
	flex: 1;
	justify-content: center;
	background: hsl(228, 100%, 42%);
	color: white;
}

footer {
	flex: 1;
	justify-content: center;
	background: hsl(228, 42%, 62%);
	color: white;
}

label {
	margin: 5px;
}

input[type="number"], input[type="text"] {
	border-radius: 10px; /* Rounded text fields and buttons. */
}

input[type="submit"] {
	border-radius: 10px; /* Rounded text fields and buttons. */
	width: 140px;
	height: 40px;
	color: white;
	background: hsl(228, 100%, 65%);
}

tr {
	text-align: left;
}

.padding {
	flex: 1;
}

#table_div {
	flex: 1;
}

#flex_article {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

th {
	background: hsl(228, 100%, 40%);
	color: hsl(228, 0%, 100%);
	font-size: 18px;
}

td, th {
	padding: 10px;
}

tr {
	background: hsl(228, 0%, 100%);
	color: hsl(228, 0%, 0%);
}

tr:nth-child(odd) {
	background: hsl(228, 100%, 60%);
	color: hsl(228, 0%, 100%);
}

iframe {
	width: 350px;
	height: 200px;
	text-align: center;
}

table {
	border-collapse: collapse; /* Remove the borders from the table cells. */
}
